@use './header';
@use './home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100vw;
    max-width: 100%;
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: 15.625rem 1fr;
    
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

main {
    overflow-y: scroll;
    padding-top: 3rem;
    padding-left: 3.25rem;
    min-height: 100dvh;
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 6.75rem 1fr;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 87%;
    }

    body {
        display: block;
    }

    main {
        padding: 2rem;
        padding-top: 7.5rem;
    }
}
