@use './header';
@use './home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100vw;
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: 15.625rem 1fr;
}

main::-webkit-scrollbar {
    width: 0px;
}

main {
    overflow-y: scroll;
    padding-top: 3rem;
    padding-left: 3.25rem;
    min-height: 100dvh;
    max-width: 100%;

    scrollbar-width: none;
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 6.75rem 1fr;
    }

}

@media (max-width: 768px) {
    body {
        display: block;
    }

    main {
        padding-left: 0rem;
    }
}